nav {
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    z-index: 1000;
}

#menu_bottom {
    ul {
        li {
            span {
                font-size: .7rem;
            }
        }
    }
}

header {
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 .5rem .5rem rgba(187, 187, 187, 0.075)!important;
    z-index: 1000;
}

button {
    border: 1px solid #f0c755;
    i {
        color: #f0c755;
    }
}

